:root { 
    --red_700:#ec1d24; 
    --blue_gray_50:#eaecf0; 
    --light_blue_100:#b2ddff; 
    --blue_A700:#0052ff; 
    --blue_800_61:#175cd361; 
    --blue_A200:#518bff; 
    --light_green_300:#acdb79; 
    --deep_purple_100:#d6bbfb; 
    --blue_A700_01:#0061ff; 
    --gray_50:#f8f9fb; 
    --blue_A700_02:#004eea; 
    --gray_900_0c:#1018280c; 
    --black_900_01:#010101; 
    --yellow_800:#fcb022; 
    --black_900:#000000; 
    --light_green_500:#95bf47; 
    --light_green_800:#5e8e3e; 
    --blue_gray_800:#344053; 
    --deep_orange_300:#ff9b65; 
    --blue_gray_700:#475466; 
    --blue_600_01:#3499cd; 
    --blue_gray_900:#1d2838; 
    --pink_200:#fea2b3; 
    --white_A700_e5:#ffffffe5; 
    --blue_gray_200:#b2b8db; 
    --blue_gray_100:#cfd4dc; 
    --gray_500:#a6a6a6; 
    --blue_gray_300:#98a1b2; 
    --blue_800:#175cd3; 
    --blue_600:#156fee; 
    --gray_900:#0f1728; 
    --blue_gray_500:#667084; 
    --gray_900_23:#0f172823; 
    --light_blue_50:#d1e9ff; 
    --amber_300:#fec84a; 
    --gray_100:#f2f3f6; 
    --gray_100_01:#eff8ff; 
    --white_A700_01:#fefefe; 
    --blue_300:#53b0fd; 
    --white_A700:#ffffff; 
    }